
<div class="container no-pd no-mg">

    <div class="row">
        <div class="col-4 main-directions-container">
            <div class="row">
                <div class="col-4">
                    <span>--></span>
                </div>
                <div class="col-8">
                    <span class="fs-46 fw-extrabold">5,4 km</span>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <span class="fs-22 fw-normal block">gerade aus</span>
                    <span class="fs-22 fw-normal block">Alteburgstraße</span>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-4 next-directions-container">
            <div class="row">
                <div class="col-3">
                    <span><--</span>
                </div>
                <div class="col-9">
                    <span class="fs-18 fw-normal block">danach links abbiegen</span>
                    <span class="fs-18 fw-normal block">Hauptstraße</span>
                </div>
            </div>
        </div>
    </div>


    <div class="row bottom">
        <div class="col-5 navi-info bottom">
            <div class="row">
                <div class="col-4">
                    <span class="fs-32 fw-bold block">4:45 AM</span>
                    <span class="fs-22 fw-normal block">Ankunft</span>
                </div>
                <div class="col-4">
                    <span class="fs-32 fw-bold block">1:39 h</span>
                    <span class="fs-22 fw-normal block">Dauer</span>
                </div>
                <div class="col-4">
                    <span class="fs-32 fw-bold block">81 km</span>
                    <span class="fs-22 fw-normal block">Distanz</span>
                </div>
            </div>
        </div>
    </div>

</div>