<div class="wrapper no-pd no-mg">
    <div class="content pd-36">
        <div class="row mb-4">
            <div class="col-12 no-pd">
                <span class="fs-46 fw-bold">Zieladresse auswählen</span>
            </div>
        </div>

        <div class="row no-mg">
            <div class="col-12 no-pd">
                <ul id="destination-list" class="list-group list-group-flush fs-22 fw-normal">
                    <li id="1" class="list-group-item mt-1 mb-1 select-destination">{{ 1.address }}</li>
                    <li id="2" class="list-group-item mt-1 mb-1 select-destination">{{ 2.address }}</li>
                    <li id="3" class="list-group-item mt-1 mb-1 select-destination">{{ 3.address }}</li>
                    <li id="4" class="list-group-item mt-1 mb-1 select-destination">{{ 4.address }}</li>
                    <li id="5" class="list-group-item mt-1 mb-1 select-destination">{{ 5.address }}</li>
                  </ul>
            </div>
        </div>



        <!-- <div id="startNavBtn">click here</div> -->

    </div>
</div>